In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('fruits.csv')
df

    Color  Diameter  Fruit
0     Red         5  Apple
1     Red         6  Apple
2  Yellow         3  Lemon
3  Yellow         7  Apple
4     Red         8  Apple
5  Yellow         4  Lemon

In [5]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
enc.fit(df.Color)
df.Color = enc.transform(df.Color)
df

   Color  Diameter  Fruit
0      0         5  Apple
1      0         6  Apple
2      1         3  Lemon
3      1         7  Apple
4      0         8  Apple
5      1         4  Lemon

In [7]:
x = df.iloc[:,[0,1]].values
y = df.iloc[:,2].values

In [8]:
type(x)

numpy.ndarray

In [9]:
x = df.iloc[:,[0,1]].values
y=df.iloc[:,2].values

In [11]:
from sklearn.linear_model import LogisticRegression

In [13]:
model = LogisticRegression()
model.fit(x,y)
y_pred = model.predict([[0,5]])
y_pred

array(['Apple'], dtype=object)