In [1]:
X = [[181,80,44],[177,70,43],[160,60,38],[154,54,37],[166,65,40],[190,90,47],[175,64,39],[177,70,40],[159,55,37],[171,75,42],[181,85,43]]
Y = {'Person':['male','male','female','female','male','male','female','female','female','male','male']}

In [2]:
type(X)

list

In [3]:
type(Y)

dict

In [4]:
import pandas as pd

In [6]:
df1 = pd.DataFrame(X)

In [7]:
df1

      0   1   2
0   181  80  44
1   177  70  43
2   160  60  38
3   154  54  37
4   166  65  40
5   190  90  47
6   175  64  39
7   177  70  40
8   159  55  37
9   171  75  42
10  181  85  43

In [8]:
df2 = pd.DataFrame(Y)

In [9]:
df2

    Person
0     male
1     male
2   female
3   female
4     male
5     male
6   female
7   female
8   female
9     male
10    male

In [10]:
df = df1.join(df2)

In [11]:
df

      0   1   2  Person
0   181  80  44    male
1   177  70  43    male
2   160  60  38  female
3   154  54  37  female
4   166  65  40    male
5   190  90  47    male
6   175  64  39  female
7   177  70  40  female
8   159  55  37  female
9   171  75  42    male
10  181  85  43    male

In [12]:
df.shape

(11, 4)

In [13]:
df.size

44

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
model= LogisticRegression()

In [25]:
model.fit(df1,df2)

c:\users\mypc\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [35]:
y_predit=model.predict([[100,30,25]])

In [36]:
y_predit

array(['female'], dtype=object)